.nav-color {
  background-color: #075985;
}
.navbar {
  margin-bottom: 10px;
}

.link a {
  margin-left: 0.75em;
  margin-right: 0.75em;
  font-size: 1em;
  cursor: pointer;
  letter-spacing: 0.1em;
  text-indent: 0.3em;
  border-bottom: 3px solid transparent;
  text-decoration: none;
  color: white;
}

.link a:hover {
  color: black;
}

.logo {
  color: #fff;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: x-large;
  font-style: italic;
}

.navbar-light .navbar-toggler-icon {
  background-image: var(--mdb-navbar-toggler-icon-bg) !important;
}
